body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

#start-screen , #quiz-screen , #end-screen {
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #6200ea;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    

}

button:hover {
    background-color: #4500a8;
}

#options  button{
   display: block;
   margin: 10px auto;
} 

#intro-screen {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#6a0dad,#ff69b4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    animation: fadeOut 3s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}